# -*- coding: utf-8, tab-width: 2 -*-

AREA[remove]='
  101
  102
  '

# x = east
let AREA[xLo]="10"
let AREA[xHi]="${AREA[xLo]} + 64"

# y = up
let AREA[yLo]="-64"
let AREA[yHi]="${AREA[yLo]} + 128"

z = north
let AREA[zLo]="10"
let AREA[zHi]="${AREA[xLo]} + 64"

AREA[name]='My House'
